body {
    background-color: #F7F3E4;
    font-family: Nunito Sans;
}

.body {
    margin: auto;
    width: 50%;
}

form {
    margin: auto;
    max-width: 1000px;
}

.center {

    margin: 0px 40%;

}

.title {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

h1 {
    margin-top: 50px;
    margin-bottom: 40px;
    white-space: nowrap;
    text-align: center;
}

img {
    margin: 0
}

#fork {
    margin: 35px 15%;
    max-width: 80vw;
}
#plate {
    height: 100px;
    float: right;
    margin: 20px
}

#logo {
    height: 100px;
    display: inline;
    margin-top: 25px;
    margin-right: 20px;

}

.form-control{
    border:grey solid;
    border-width: 1px;
}

.form-control::placeholder {
    color: lightgray;
    opacity: 1;
}

.brwn-btn {
    background-color: #6B2E18;
    border: none;
    color: #F7F3E4;
    border-radius: 100px;
}

button {
    margin-top: 20px
}

/* login page */
.login-body {
    margin: -350px auto;
    width: 50%;
    color:#F7F3E4;
    font-family: ;
}

.login {
    max-width: 70%;
    margin: auto;
    text-align: left;
}

.login-background {
    background-color: #6B2E18;
}
.lite-btn {
    background-color: #F7F3E4;
    color: #6B2E18;
    border: none;
    border-radius: 100px
}